body, html {
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

footer,.navbar {
    background-color: firebrick;
    color: wheat;
}

footer {
    padding: 0.25rem;
    font-size: 0.9rem;
    margin-top: auto;
}

footer p {
    margin: 0;
    text-align: center;
}

footer a, footer a:hover, footer a:visited {
    color: wheat;
    text-decoration: underline;
}

.hr {
    position: absolute;
    left: 0.25rem;
    right: 0.25rem;
}

.foreground-light {
    color: wheat;
}

.foreground-dark {
    color: firebrick;
}

.background-light {
    background-color: wheat;
}

.background-dark {
    background-color: firebrick;
}

.icon {
    width: 24px;
    height: 24px;
}

.navbar {
    padding: 0.25rem 0.5rem;
}

.btn-outline-info {
    border-color: wheat;
    color: wheat;
    background-color: firebrick;
}

.btn-outline-info:hover,.btn-outline-info:not(:disabled):not(.disabled):active,.btn-outline-info:not(:disabled):not(.disabled):active:focus {
    border-color: wheat;
    background-color: wheat;
    color: firebrick;
}

.navbar-brand img {
    width: 48px;
    height: 48px;
}

.navbar-brand p {
    display: inline-block;
}

.grid-stack {
    margin: 0.5rem 0;
}

.grid-stack-item {
    padding: 0.25rem;    
}

.grid-stack-item-content {
    border: 1px solid firebrick;
    display: flex;
    flex-direction: column;
}

.widget-content {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.widget-header {
    background-color: firebrick;
    padding: 0.25rem;
    position: relative;
}

.widget-header h2 {
    font-size: 1rem;
    color: wheat;
    padding: 0;
    margin: 0;
}

.widget-header a {
    display: none;
    position: absolute;
    top: 0rem;
    width: 1rem;
    height: 1rem;
}

.widget-header:hover a {
    display: block;
    opacity: 0.7;
}

.widget-header:hover a:hover {
    opacity: 1;
}

.st-widget-btn {    
    right: 2rem;
}

.rm-widget-btn {
    right: 0.4rem;
}

.widget-header img {
    max-width: 100%;
    max-height: 100%;
    stroke: wheat;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.btn-check {
  width: 100%;
  margin: 1px;
  border: 1px solid firebrick;
  color: firebrick;
  background-color: wheat;
  transition: background-color 0.3s;
  padding: 0.25rem 0.5rem;
}

.btn-check:hover {
  border-color: maroon;
  background-color: #bb222240;
}

.btn-check.active {
  margin-top: 1px;
  background-color: firebrick;
  border-color: wheat;
  color: wheat;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 1px solid firebrick;
  border-top-width: 0;
  max-height: 10rem;
  overflow-y: auto;
  min-width: 100%
}

.dropdown-menu .btn-check {
    margin: 0;
    border-width: 0 0 1px 0;
}

.widget-name {
    color: firebrick;
    border: 1px solid firebrick;
}

.widget-name:focus {
    background-color: #fff;
    border-color: initial;
    outline: 0;
    box-shadow: 0 0 0 0.1rem firebrick;
    color: maroon;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header {
    padding: 0.25rem 0.75rem;
    border-radius: 0;
    background-color: firebrick;
    color: wheat;
}

.modal .row {
    margin: 0;
}

.modal .col-3,.modal .col-4 {
    padding: 0;
}

.body-container {
    position: relative;
    flex-grow: 1;
    background-color: wheat;
}

#addFirstWidget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 250%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    border-color: firebrick;
    color: firebrick;
    background-color: wheat;
}

#addFirstWidget:hover {
    color: wheat;
    background-color: firebrick;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}