<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gun Violence Dashboard</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.jQueryUI.min.js'></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sunburst.css') }}">
</head>
<body>
  <nav class="navbar">
    <a href="/" class="navbar-brand background-dark">
      <img src="{{ url_for('static', filename='img/gun.svg') }}" alt="Gun Logo"></img>
      <p class="foreground-light">US Gun Violence Uncovered</p>
    </a>
    <button id="addWidgetBtn" class="btn btn-outline-info ml-3">Add Widget</button>
  </nav>
  <div class="body-container">
    <section class="grid-stack">
    </section>
    <button id="addFirstWidget" class="btn btn-outline-info ">Add Your First Widget</button>
  </div> 
  
  <div class="modal" id="addWidgetModal" tabindex="-1" role="dialog" aria-labelledby="modalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Widget</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="foreground-light" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container foreground-dark">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-outline-info w-100" data-value="breakdown">View Incidents Breakdown</button>
            </div>
            <div class="col-12">
              <button class="btn btn-outline-info w-100 mt-3" data-value="correlation">View Incidents Correlation</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" data-value="breakdown" tabindex="-1" role="dialog" aria-labelledby="modalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Incidents Breakdown</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="foreground-light" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container foreground-dark">
          <div class="row" data-group="yAxis" data-keepchecked>   
              <div class="col-12">
                <p class="text-center mb-2">What do you want to break down?</p>
              </div>         
            <div class="col-4">
              <button class="btn-check active" data-value="incidents">Incidents</button>
            </div>
            <div class="col-4">
              <button class="btn-check" data-value="killed">People Killed</button>
            </div>
            <div class="col-4">
              <button class="btn-check" data-value="injured">People Injured</button>
            </div>
          </div>
          <div class="row" data-group="pivotBy" data-multiselect data-keepchecked>
            <div class="col-12">
              <p class="text-center my-2">How do you want to break it down?</p>
            </div>
            <div class="col-3">
              <button class="btn-check active" data-value="state">State</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="year">Year</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="month">Month</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="victimAge" data-deselect="suspectAge,suspectGender">Victim Age</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="victimGender" data-deselect="suspectAge,suspectGender">Victim Gender</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="suspectAge" data-deselect="victimAge,victimGender">Suspect Age</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="suspectGender" data-deselect="victimAge,victimGender">Suspect Gender</button>
            </div>
          </div> 
          <div class="row">
            <div class="col-12">
              <p class="text-center my-2">How do you want to filter it?</p>
            </div>
            <div class="col-3 pt-1">
              Belongs to:
            </div>
            <div class="col-9">
                <div class="dropdown">
                  <button class="btn-check dropdown-toggle" type="button" id="breakdownIncCatDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    - Select Categories -
                  </button>
                  <div class="dropdown-menu" data-type="categories" data-keepopen data-group="inclusiveCategories" data-multiselect aria-labelledby="breakdownIncCatDdButton">
                  </div>
                </div>
            </div>
            <div class="col-3 pt-1">
              Doesn't belong to:
            </div>
            <div class="col-9">
                <div class="dropdown">
                  <button class="btn-check dropdown-toggle" type="button" id="breakdownExcCatDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    - Select Categories -
                  </button>
                  <div class="dropdown-menu" data-type="categories" data-keepopen data-group="exclusiveCategories" data-multiselect aria-labelledby="breakdownExcCatDdButton">
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 pt-1">
              Years
            </div>
            <div class="col-9">
              <div class="dropdown">
                <button class="btn-check dropdown-toggle" type="button" id="breakdownYearsDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All
                </button>
                <div class="dropdown-menu" data-type="years" data-group="years" data-keepopen data-multiselect aria-labelledby="breakdownYearsDdButton">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 pt-1">
              States
            </div>
            <div class="col-9">
              <div class="dropdown">
                <button class="btn-check dropdown-toggle" type="button" id="breakdownStatesDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All
                </button>
                <div class="dropdown-menu" data-type="states" data-group="states" data-keepopen data-multiselect aria-labelledby="breakdownStatesDdButton">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-center my-0">Do you really need all the data?</p>
            </div>
            <div class="col-6 py-0 pl-0 pr-2">
              <div class="row" data-group="top">
                <div class="col-12">
                    <p class="text-center mb-2">Top</p>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="1">1</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="3">3</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="5">5</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="10">10</button>
                </div>
              </div>
            </div>
            <div class="col-6 py-0 pl-0 pr-2">
              <div class="row" data-group="bottom">
                <div class="col-12">
                  <p class="text-center mb-2">Bottom</p>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="1">1</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="3">3</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="5">5</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="10">10</button>
                </div>
              </div>
            </div>            
          </div>
          <div class="row" data-group="topBottomAll">
            <div class="col-4 offset-4">
              <button class="btn-check" data-value="Yes">Apply to All Levels</button>
            </div>
          </div>
          <div class="row" data-group="chartType" data-keepchecked>
            <div class="col-12">
              <p class="text-center my-2">How do you want to display it?</p>
            </div>
            <div class="col-3">
              <button class="btn-check active" data-value="pie">Pie Chart</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="map">Map</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="bar">Bar Chart</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="sunburst">Sunburst</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-center my-2">What do you want to call it?</p>
            </div>
            <div class="col-12 p-0">
              <input class="form-control widget-name" type="text" placeholder="e.g. Accidental Kills 2014-2015">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info modal-confirm">Add</button>
          <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="modal" data-value="correlation" tabindex="-1" role="dialog" aria-labelledby="modalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Incidents Correlation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="foreground-light" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container foreground-dark">
          <div class="row" data-group="yAxis" data-keepchecked>   
              <div class="col-12">
                <p class="text-center mb-2">What do you correlate?</p>
              </div>         
            <div class="col-4">
              <button class="btn-check active" data-value="incidents">Incidents</button>
            </div>
            <div class="col-4">
              <button class="btn-check" data-value="killed">People Killed</button>
            </div>
            <div class="col-4">
              <button class="btn-check" data-value="injured">People Injured</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-center my-2">How do you want to filter it?</p>
            </div>
            <div class="col-3 pt-1">
              Belongs to:
            </div>
            <div class="col-9">
                <div class="dropdown">
                  <button class="btn-check dropdown-toggle" type="button" id="correlationIncCatDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    - Select Categories -
                  </button>
                  <div class="dropdown-menu" data-type="categories" data-keepopen data-group="inclusiveCategories" data-multiselect aria-labelledby="correlationIncCatDdButton">
                  </div>
                </div>
            </div>
            <div class="col-3 pt-1">
              Doesn't belong to:
            </div>
            <div class="col-9">
                <div class="dropdown">
                  <button class="btn-check dropdown-toggle" type="button" id="correlationExcCatDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    - Select Categories -
                  </button>
                  <div class="dropdown-menu" data-type="categories" data-keepopen data-group="exclusiveCategories" data-multiselect aria-labelledby="correlationExcCatDdButton">
                  </div>
                </div>
            </div>
          </div>          
          <div class="row">
            <div class="col-3 pt-1">
              Years
            </div>
            <div class="col-9">
              <div class="dropdown">
                <button class="btn-check dropdown-toggle" type="button" id="correlationYearsDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All
                </button>
                <div class="dropdown-menu" data-type="years" data-keepopen data-group="years" data-multiselect aria-labelledby="correlationYearsDdButton">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 pt-1">
              States
            </div>
            <div class="col-9">
              <div class="dropdown">
                <button class="btn-check dropdown-toggle" type="button" id="correlationStatesDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All
                </button>
                <div class="dropdown-menu" data-type="states" data-group="states" data-keepopen data-multiselect aria-labelledby="correlationStatesDdButton">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                <p class="text-center my-2">What do you want to correlate it with?</p>
              </div>           
              <div class="col-12 p-0" data-group="xAxis">
                  <div class="dropdown">
                    <button class="btn-check dropdown-toggle inactive" type="button" id="correlationXStatDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      - Select Statistics -
                    </button>
                    <div class="dropdown-menu" data-type="statistics" data-keepchecked aria-labelledby="correlationXStatDdButton">
                    </div>
                  </div>
              </div>          
              <div class="col-12 p-0" data-group="zAxis">
                  <div class="dropdown">
                    <button class="btn-check dropdown-toggle inactive" type="button" id="correlationZStatDdButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      - Select Statistics -
                    </button>
                    <div class="dropdown-menu" data-type="statistics" aria-labelledby="correlationZStatDdButton">
                    </div>
                  </div>
              </div>
          </div> 
          <div class="row" data-group="pivotBy" data-keepchecked>
            <div class="col-12">
              <p class="text-center my-2">How do you want to break it down?</p>
            </div>
            <div class="col-3">
              <button class="btn-check active" data-value="state">State</button>
            </div>
            <div class="col-3">
              <button class="btn-check" data-value="year">Year</button>
            </div>
          </div> 
          <div class="row">
            <div class="col-12">
              <p class="text-center my-0">Do you really need all the data?</p>
            </div>
            <div class="col-6 py-0 pl-0 pr-2">
              <div class="row" data-group="top">
                <div class="col-12">
                    <p class="text-center mb-2">Top</p>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="1">1</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="3">3</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="5">5</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="10">10</button>
                </div>
              </div>
            </div>
            <div class="col-6 py-0 pl-0 pr-2">
              <div class="row" data-group="bottom">
                <div class="col-12">
                  <p class="text-center mb-2">Bottom</p>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="1">1</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="3">3</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="5">5</button>
                </div>
                <div class="col-3">
                  <button class="btn-check" data-value="10">10</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" data-group="chartType" data-keepchecked>
            <div class="col-12">
              <p class="text-center my-2">How do you want to display it?</p>
            </div>
            <div class="col-3">
              <button class="btn-check active" data-value="bubble">Bubble Chart</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-center my-2">What do you want to call it?</p>
            </div>
            <div class="col-12 p-0">
              <input class="form-control widget-name" type="text" placeholder="e.g. Accidental Kills 2014-2015">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info modal-confirm">Add</button>
          <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      </div>
    </div>
  </div>
  <footer>
    <p>2018 Andrei Chaplygin, Edgar Sanchez, Craig Taylor, Nathan Roberts. Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>. Data provided by <a href="https://gunviolencearchive.org" target="_blank">gunviolencearchive.org</a><a href="https://github.com/Demarsch/gun-violence-dashboard" target="_blank" aria-label="GitHub" class="pl-3"><img src="{{ url_for('static', filename='img/github.svg') }}">
    </a></p>
  </footer>
  <script type="text/javascript">
  $(function () {
      var options = {
          cellHeight: 60,
          verticalMargin: 10
      };
      $('.grid-stack').gridstack(options);
  });
  </script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/addWidget.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bubbleChart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mapChart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sunburstChart.js') }}"></script>
</body>
</html>
